body {
  font-family: sans-serif;
  margin-top: 2ex;
  margin-left: 2ex;
  color: rgb(36, 36, 36);
}

h1 {
  color: rgb(87, 87, 87);
}

ul {
  list-style-type: none;
  margin-left: 2ex;
  padding-left: 0;
}

li {
  margin-top: 1ex;
}

a {
  text-decoration: none;
  border-bottom: 1px dashed rgb(216, 216, 216);
}

a:link {
  color: rgba(36, 36, 36);
}

a:visited {
  color: rgba(36, 36, 36);
}
