---
apiVersion: v1
kind: Namespace
metadata:
  name: kube-gateway
---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: kube-gateway
  name: kube-gateway-sa
  namespace: kube-gateway
secrets:
- name: kube-gateway-secrets
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app: kube-gateway
  name: kube-gateway-cluster-reader
rules:
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - get
  - watch
  - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app: kube-gateway
  name: kube-gateway-cluster-reader
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kube-gateway-cluster-reader
subjects:
- kind: ServiceAccount
  name: kube-gateway-sa
  namespace: kube-gateway